<footer  data-anchor="true">
   <div id="foot" class="o_footer_copyright">
    <div class="container py-3">
      <div class="row">
        <div class="col-sm text-center text-sm-left text-muted">
          <span>Copyright &copy; </span> <span itemprop="name">Factura365.</span> Todos los derechos reservados.
          <p>
            <a href="https://www.tecnofun.es/politica-de-cookies.html" target="blank">Política de cookies</a> |
            <a href="https://www.tecnofun.es/politica-de-privacidad.html" target="blank">Política&nbsp;de&nbsp;privacidad</a>
        </p>
        </div>
        <div class="col-sm text-center text-sm-right o_not_editable">
          <div class="o_brand_promotion">
            <a href="https://www.tecnofun.es/" target="_blank">Tecnofun Digital S.L</a><br>
            <span>v1.0.2.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
