#presupuestoslin{
    margin-left: 200px; 
    margin-right: -200px;
    margin-top: 20px; 
    max-width: 100%;
}


div.card{
    border-radius: 10px;
}

input[type=text]{
    border-radius: 20px;
}


button{
    border-radius: 20px;
}