<div *ngIf="log" class="sidenav">
  <br><br><br>
  <p style="color: rgb(38, 204, 255); margin-left: 10px; margin-bottom: -3px;">MENÚ PRINCIPAL</p>
  <a class="nav-link" style="color:white;"  routerLink="/presupuestos" routerLinkActive="active"><i class="far fa-file-alt"></i> Presupuestos</a>
  <a class="nav-link" style="color: white;" routerLink="/facturas" routerLinkActive="active"><i class="fas fa-file-invoice"></i> Facturas</a>
  <a class="nav-link" style="color: white;"  routerLink="/abonos" routerLinkActive="active" ><i class="far fa-handshake"></i> Notas de abono</a>
  <a class="nav-link" style="color: white;"  routerLink="/pagos" routerLinkActive="active"><i class="fas fa-money-bill-wave"></i> Pagos recibidos</a>
  <a class="nav-link" style="color: white;" routerLink="/recurrentes" routerLinkActive="active"><i class="fas fa-history"></i> Facturas recurrentes</a>
  <a class="nav-link" style="color: white;"  routerLink="/clientes" routerLinkActive="active"><i class="fas fa-user-friends"></i> Clientes</a>
  <a class="nav-link" style="color: white;"  routerLink="/contactos" routerLinkActive="active"><i class="fas fa-mobile-alt"></i> Contactos</a>
  <a class="nav-link" style="color: white;"  routerLink="/productos" routerLinkActive="active"><i class="fab fa-product-hunt"></i> Productos / Servicios</a>
  <a class="nav-link" style="color: white;"  routerLink="/categorias" routerLinkActive="active"><i class="fas fa-list"></i> Categorías</a>
  <a class="nav-link" style="color: white;"  routerLink="/organizaciones" routerLinkActive="active"><i class="fas fa-sitemap"></i> Organizaciones</a><br>
  <p style="color: rgb(38, 204, 255); margin-left: 10px; margin-bottom: -3px;">MENÚ CONFIGURACIÓN</p>
  <a class="nav-link" style="color: white;" routerLink="/terminos-pagos" routerLinkActive="active"><i class="fas fa-credit-card"></i> Términos de pago</a>
  <a class="nav-link" style="color: white;" routerLink="/impuestos" routerLinkActive="active"><i class="fas fa-percentage"></i> Impuestos</a>
  <a class="nav-link" style="color: white;" routerLink="/usuarios-permisos" routerLinkActive="active"><i class="fas fa-wrench"></i> Usuarios y permisos</a>
</div>

<nav id="navbar" class="active" class="navbar fixed-top navbar-expand-lg navbar-light" *ngIf="log" style="background-color: #efefef;">
  <a class="navbar-brand" routerLink="/inicio" routerLinkActive="active"> <img src="assets/logo.png"></a>
   <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul  class="navbar-nav mr-auto text-center">
            <a class="nav-link" routerLink="/organizacion-predeterminada" routerLinkActive="active"> <i class="fas fa-sitemap"></i> {{org.OrganizationName}} </a>
          </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i> {{ us.user }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/user" routerLinkActive="active"><i class="fas fa-user-alt"></i> Perfil</a>
                <a class="dropdown-item" routerLink="/ajustes" routerLinkActive="active"><i class="fas fa-cogs"></i> Ajustes</a>
              </div>
            </li>
            <a class="nav-link" style="background-color: #efefef; margin-top: 5px;" class="dropdown-item" (click)="logout()" > <i class="fas fa-power-off"></i></a>
          </ul>
        </div>
       
       
      </div>
    </div>
  </nav>
  <br>
  <div class="container p-5">
    <router-outlet></router-outlet>
  </div>
<!--  LANDING -->

<div *ngIf="!log && !landing;" id="LandingPage">
  <!--Header-->
  <header id="top" data-anchor="true" data-name="Header" class="bg-black-50 o_affix_enabled"
    style="margin-top: -120px; margin-bottom: 300px;">
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
      <div class="container">
        <a href="/" class="navbar-brand logo">
          <img src="assets/logo.png">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#top_menu_collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="top_menu_collapse" aria-expanded="false">
          <ul class="nav navbar-nav ml-auto text-right" id="top_menu">
            <li class="nav-item">
              <button style="margin: 10px; border-radius: 20px;" (click)="login()"  type="button" class="btn btn-outline-primary" *ngIf="!log">Iniciar Sesión</button>
              <button style="border-radius: 20px;" (click)="register()"  type="button" class="btn btn-outline-secondary" *ngIf="!log">Únete</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!--Main-->
  <main style="background-color: #e3f2fd;">
    <div style="margin-top: -350px;" id="wrap" class="oe_structure oe_empty">
      <section class="s_banner parallax pt96 pb96 s_parallax_no_overflow_hidden s_parallax_is_fixed"
        data-scroll-background-ratio="1" data-name="Banner" style="background-image: none;">
        <span class="s_parallax_bg oe_img_bg oe_custom_bg"
          style="background-image: url(&quot;/web/image/website.s_banner_default_image&quot;); background-position: 50% 0px;"></span>
        <div class="container">
          <div class="row s_nb_column_fixed">
            <div class="jumbotron pt32 pb32 col-lg-8 bg-black-50 rounded" data-name="Box">
              <div class="row">
                <div class="s_title s_col_no_bgcolor col-lg-12" data-name="Title">
                  <h1 class="s_title_thin">
                    <font style="color: gray; font-size: 48px;">
                      <b>¡LA FORMA MÁS FÁCIL DE GESTIONAR TU EMPRESA!</b>
                    </font>
                  </h1>
                </div>
                <div class="col-lg-12 pt8 pb32 s_col_no_bgcolor" data-name="Text">
                  <p class="lead">
                    <font style="color: gray">Tecnofun Factura365 es un programa de facturación innovador y adaptable a
                      tu negocio</font>
                  </p>
                </div>
                <div class="s_btn pt16 pb16 text-left col-lg-8" data-name="Button">
                  <a href="https://almacentecnofun.blob.core.windows.net/tecnofun-invoice-downloads/Factura365.xlsm"
                    class="btn btn-alpha rounded-circle btn-lg" aria-describedby="tooltip894428">Descarga la plantilla
                    Excel ahora</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="s_comparisons pt48 pb24" data-name="Comparisons">
        <div class="container">
          <div class="row s_nb_column_fixed">
            <div class="col-lg-12 s_title pt16 pb16" style="text-align: center;">
              <h1 class="s_title_thin">
                <span style="font-size: 62px;">PLANES</span>
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 s_col_no_bgcolor text-center pt16 pb16" data-name="Box">
              <div class="card bg-200">
                <h4 class="card-header">PYME</h4>
                <div class="card-body text-center">
                  <h2 class="card-title">
                    <span class="s_comparisons_currency">€&nbsp;</span>
                    <span class="s_comparisons_price">
                      <b>0</b>
                    </span>
                    <span class="s_comparisons_decimal o_default_snippet_text">.00</span>
                  </h2>
                  <small class="o_default_snippet_text">/ mes</small>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Multipuesto y multiempresa</li>
                  <li class="list-group-item">Facturas y Notas abono</li>
                  <li class="list-group-item">Presupuestos</li>
                  <li class="list-group-item">Gestión de pagos&nbsp;</li>
                </ul>
                <div class="card-footer">
                  <p>
                    <i>LIMITADO (5 facturas al mes)</i>
                  </p>
                  <a href="https://almacentecnofun.blob.core.windows.net/tecnofun-invoice-downloads/Factura365.xlsm"
                    class="btn btn-secondary" data-original-title="" title="" aria-describedby="tooltip149678">Descarga
                    GRATIS ahora</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 s_col_no_bgcolor text-center pt16 pb16" data-name="Box">
              <div class="card bg-primary">
                <h4 class="card-header">
                  <font style="color: rgb(255, 255, 255); font-size: 36px;">PRO</font>
                </h4>
                <h4 class="card-header">
                  <font style="color: rgb(255, 255, 255); font-size: 18px;">RECOMENDADO</font>
                </h4>
                <div class="card-body">
                  <h2 class="card-title"><span class="s_comparisons_currency">€&nbsp;</span><span
                      class="s_comparisons_price"><b>6</b></span>&nbsp;<span class="s_comparisons_decimal">.99</span>
                  </h2>
                  <small class="o_default_snippet_text">/ mes</small>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Multipuesto y multiempresa<br></li>
                  <li class="list-group-item">Facturas y Notas abono<br></li>
                  <li class="list-group-item">Presupuestos<br></li>
                  <li class="list-group-item">Gestión de pagos</li>
                  <li class="list-group-item">Facturas recurrentes<br></li>
                </ul>
                <div class="card-footer">
                  <p>
                    <i>SIN LÍMITE</i>
                  </p>
                  <a href="https://almacentecnofun.blob.core.windows.net/tecnofun-invoice-downloads/Factura365.xlsm"
                    data-original-title="" title="" aria-describedby="tooltip515388" class="btn btn-beta">Prueba 30 días
                    ahora</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 s_col_no_bgcolor text-center pt16 pb16" data-name="Box">
              <div class="card bg-secondary">
                <h4 class="card-header">PLUS</h4>
                <div class="card-body text-center">
                  <h2 class="card-title">
                    <span class="s_comparisons_currency">€</span>
                    <span class="s_comparisons_price">
                      <b>9</b>
                    </span>
                    <span class="s_comparisons_decimal">.99</span>
                  </h2>
                  <small class="o_default_snippet_text">/ mes</small>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Multipuesto y multiempresa<br></li>
                  <li class="list-group-item">Facturas y Notas abono<br></li>
                  <li class="list-group-item">Presupuestos<br></li>
                  <li class="list-group-item">Gestión de pagos<br></li>
                  <li class="list-group-item">Facturas recurrentes</li>
                  <li class="list-group-item">Multiusuario</li>
                </ul>
                <div class="card-footer">
                  <p>
                    <i>SIN LÍMITE</i>
                  </p>
                  <a href="https://almacentecnofun.blob.core.windows.net/tecnofun-invoice-downloads/Factura365.xlsm"
                    data-original-title="" title="" aria-describedby="tooltip898052" class="btn btn-alpha">Prueba 30
                    días ahora</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><br>
      <section style="background-color: whitesmoke;" class="s_text_block pt16 pb8" data-name="Text block"><br>
        <div class="container">

          <div class="row">
            <div class="col-lg-4">
              <h5>Nuestros productos y servicios</h5>
              <ul class="list-unstyled">
                <li> Crea una factura en segundos,
                  consulta el saldo de tu cliente ¡Nunca fue tan fácil tener el control de su
                  negocio!</li>
              </ul>
            </div>
            <div class="col-lg-4" id="connect">
              <h5>Contacte con nosotros</h5>
              <ul class="list-unstyled">


                <span class="icon-envelope-open"></span>
                <a href="mailto:carlos.jorge@tecnofun.es"> carlos.jorge@tecnofun.es</a><br>
                <i class="fas fa-code"></i> Consultoría y Desarrollo <br>
                Linked <a href="https://www.linkedin.com/company/tecnofun-digital/" target="blank">
                  <i class="fab fa-linkedin fa-2x"></i>
                </a>
              </ul>

            </div>
            <div class="col-lg-4">
              <h5>
                <span>Tecnofun Factura365</span>
                <small> - <a href="https://tecnofun-digital-sl.odoo.com/" target="_blank">Descarga</a> también
                  Factura365 para Microsoft Excel.</small>
              </h5>
              <p>
                Somos un equipo de gente apasionada cuya meta es mejorar la vida de cada uno
                a través de productos disruptivos.&nbsp;</p>
              <p>
                Nuestros productos están diseñados para pequeñas y medianas empresas que desean optimizar
                su desempeño.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
<br><br>
<!--Footer-->
<app-footer></app-footer>